extends /layouts/application.pug

block content
  +formFor(f, { url: urlFor('tasks'), method: 'get' })
    .row.d-flex.align-items-center
      +filter(f, 'creator', 'Creator', users, {value: 'id', text: 'fullName'})
      +filter(f, 'tag', 'Tag', tags, {value: 'id', text: 'name'})
      +filter(f, 'status', 'Status', taskStatuses, {value: 'id', text: 'name'})
      +filter(f, 'assignee', 'Assignee', users, {value: 'id', text: 'fullName'})
      +button(f, 'Apply filter')
  table.table.table-stripped
    thead
      tr
        th ID
        th Status
        th Name
        th Assigned To
        th Updated
    tbody
      each task in tasks
        tr
          td= task.id
          td= task.TaskStatus.name
          td
            span.ml-1
              a(href='tasks/' + task.id)= task.name
          td= task.Assignee.fullName
            //a(href=urlFor('user', task.Assignee.id ))= task.Assignee.fullName
          td= task.updatedAt
